#Location of JAVA_HOME (bin files)
export JAVA_HOME={{java_home}}
 
#Add Java binary files to PATH
export PATH=$JAVA_HOME/bin:$PATH
 
#CATALINA_HOME is the location of the bin files of Tomcat  
export CATALINA_HOME={{tomcat_dir}}
 
#CATALINA_BASE is the location of the configuration files of this instance of Tomcat
export CATALINA_BASE={{tomcat_dir}}
 
#TOMCAT_USER is the default user of tomcat
export TOMCAT_USER={{tomcat_user}}
